<!-- <!DOCTYPE html> -->
<div class="modal fade draggable-modal ui-draggable draggable" id="credit-rank-modal" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header ui-draggable-handle">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Credit Rank</h4>
      </div>
      <div class="modal-body">
        <div class="m-grid">
          <div class="m-grid-col m-grid-col-6 portlet light">
            <div class="portlet-title caption font-green-sharp">
              <span class="caption-subject bold uppercase">John's FICO Score at Equifax is</span>
            </div>
            <div class="portlet-body m-grid">
              <div class="m-grid-col m-grid-col-6 score">
                <span class="points">757</span>
                as of Dec 20 2018
              </div>

              <div class="m-grid-col m-grid-col-6 rating">
                <div>
                  <input class="knob" data-width="180" data-min="0" data-max="10" readonly  value="9" />
                </div>
                9/10 (Excellent)
              </div>
            </div>

            <div class="portlet-title caption font-green-sharp score_percentile">
              <span class="caption-subject bold uppercase">Score Percentile</span>
            </div>
            <div class="portlet-body">
              <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="550" aria-valuemax="800" style="width:82%"><span>82%</span></div>
              </div>

              <div class="range">
                <div class="min_range"><div>550</div> <div>Poor</div></div>
                <div class="max_range"><div>800</div> <div>Best</div></div>
              </div>
            </div>
          </div>

          <div class="history m-grid-col m-grid-col-6 portlet light">
            <div class="portlet-title caption font-green-sharp">
              <span class="caption-subject bold uppercase">Credit Score History</span>
            </div>
            <div class="portlet-body" id="history_chart"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <i class="fa fa-file-pdf-o"></i>
        <i class="fa fa-envelope-o"></i>
        <i class="fa fa-print"></i>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="../assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/flot/jquery.flot.pie.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/flot/jquery.flot.stack.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/flot/jquery.flot.crosshair.min.js" type="text/javascript"></script>
<script src="../assets/global/plugins/flot/jquery.flot.axislabels.js" type="text/javascript"></script>
<script src="../assets/global/plugins/jquery-knob/js/jquery.knob.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="../assets/pages/scripts/charts-flotcharts.min.js" type="text/javascript"></script>
<script src="../assets/pages/scripts/components-knob-dials.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->