<!-- <!DOCTYPE html> -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
      <div class="xray-view">
          <label class="mt-checkbox">
              <input type="checkbox" name="xray" value="checked"> X-Ray View
              <span></span>
          </label>
      </div>

    <div class="page-footer-inner">
        2017 &copy; System & Sfotware
        &nbsp;|&nbsp;
        <a target="_blank" href="#">enQuesta</a>
    </div>

    <div class="feature_panel">
        <a href="/chat"><i class="fa fa-weixin icon-chat"></i></a>
        <a href="/ticket"><i class="fa fa-bug icon-bug"></i></a>
        <a href="/diagnosis"><i class="fa fa-user-md icon-diagnosis"></i></a>
        <a href="/faq"><i class="fa fa-question-circle icon-help"></i></a>
    </div>

    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->