<!-- <!DOCTYPE html> -->
<div class="modal fade draggable-modal ui-draggable draggable" id="info-modal" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header ui-draggable-handle">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Info Selector</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>
            <label class="mt-checkbox">
              <input type="checkbox" value="checked" name="account"> Account(s)
              <span></span>
            </label>
          </li>
          <li>
            <label class="mt-checkbox">
              <input type="checkbox" value="checked" name="bill_cycle"> Bill Cycle
              <span></span>
            </label>
          </li>
          <li>
            <label class="mt-checkbox">
              <input type="checkbox" value="checked" name="budget_billing"> Budget Billing
              <span></span>
            </label>
          </li>
          <li>
            <label class="mt-checkbox">
              <input type="checkbox" value="checked" name="credit_ranking"> Credit Ranking
              <span></span>
            </label>
          </li>
          <li>
            <label class="mt-checkbox">
              <input type="checkbox" value="checked" name="first_name"> First Name
              <span></span>
            </label>
          </li>
          <li>
            <label class="mt-checkbox">
              <input type="checkbox" value="checked" name="last_invoice"> Last Invoice
              <span></span>
            </label>
          </li>
          <li>
            <label class="mt-checkbox">
              <input type="checkbox" value="checked" name="last_payment"> Last Payment
              <span></span>
            </label>
          </li>
          <li>
            <label class="mt-checkbox">
              <input type="checkbox" value="checked" name="last_name"> Last Name
              <span></span>
            </label>
          </li>
          <li>
            <label class="mt-checkbox">
              <input type="checkbox" value="checked" name="meter_type"> Meter Type
              <span></span>
            </label>
          </li>
          <li>
            <label class="mt-checkbox">
              <input type="checkbox" value="checked" name="next_cycle"> Next Cycle
              <span></span>
            </label>
          </li>
          <li>
            <label class="mt-checkbox">
              <input type="checkbox" value="checked" name="outage_notif"> Outage Notif
              <span></span>
            </label>
          </li>
          <li>
            <label class="mt-checkbox">
              <input type="checkbox" value="checked" name="pap"> PAP
              <span></span>
            </label>
          </li>
          <li>
            <label class="mt-checkbox">
              <input type="checkbox" value="checked" name="paperless"> Paperless
              <span></span>
            </label>
          </li>
          <li>
            <label class="mt-checkbox">
              <input type="checkbox" value="checked" name="service_pwr"> Service Power
              <span></span>
            </label>
          </li>
          <li>
            <label class="mt-checkbox">
              <input type="checkbox" value="checked" name="service_wtr"> Service Water
              <span></span>
            </label>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn green save_button">Save</button>
      </div>
    </div>
  </div>
</div>