<!-- <!DOCTYPE html> -->
<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="user-view">
                <span class="title">User View</span>
                <select class="form-control">
                    <option>CSR1</option>
                    <option>CSR2</option>
                    <option>FINS</option>
                    <option>MGR</option>
                    <option>Custom1</option>
                </select>
                <i class="fa fa-cog"></i>
            </li>

            <li class="nav-item info">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-info-circle"></i>
                    <span class="title">Info</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu sortable">
                    <li class="nav-item" data-pos="2" data-config="first_name">
                        <a class="nav-link ">
                            <span class="title">First Name:</span>
                            <span class="right tooltips" data-original-title="" data-tooltip1="" data-tooltip2="AccTable.FName">John</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="1" data-config="last_name">
                        <a class="nav-link ">
                            <span class="title">Last Name:</span>
                            <span class="right tooltips" data-original-title="" data-tooltip1="" data-tooltip2="AccTable.LName">Doe</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="3" data-config="credit_ranking">
                        <a class="nav-link ">
                            <span class="title">Credit Ranking:</span>
                            <span class="right tooltips" data-original-title="" data-tooltip1="" data-tooltip2="AccStat.CredR">10</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="4" data-config="budget_billing">
                        <a class="nav-link ">
                            <span class="title">Budget Billing:</span>
                            <span class="right tooltips" data-original-title="" data-tooltip1="$38.00" data-tooltip2="BBTable.BBStat">Yes</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="5" data-config="pap">
                        <a class="nav-link ">
                            <span class="title">PAP:</span>
                            <span class="right tooltips" data-original-title="" data-tooltip1="$38.00" data-tooltip2="PAPTable.PAPAmt">Yes</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="6" data-config="paperless">
                        <a class="nav-link ">
                            <span class="title">Paperless:</span>
                            <span class="right tooltips" data-original-title="" data-tooltip1="" data-tooltip2="NotifTable.PapT">jdoe@mail.net</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="7" data-config="service">
                        <a class="nav-link ">
                            <span class="title">Service:</span>
                            <span class="right tooltips" data-original-title="" data-tooltip1="Meter #123" data-tooltip2="SrvcTable.WTR">WTR</span>
                            &nbsp;
                            <span class="right tooltips" data-original-title="" data-tooltip1="Meter @ABC" data-tooltip2="SrvcTable.PWR">PWR</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="8" data-config="outage_notif">
                        <a class="nav-link ">
                            <span class="title">Outage Notif:</span>
                            <span class="right tooltips" data-original-title="" data-tooltip1="" data-tooltip2="OutTable.Notif">No</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="9" data-config="account">
                        <a class="nav-link ">
                            <span class="title">Account(s):</span>
                            <span class="right tooltips" data-original-title="" data-tooltip1="" data-tooltip2="AccTable.AccNb">A1234Z</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="10" data-config="last_invoice">
                        <a class="nav-link ">
                            <span class="title">Last Invoice:</span>
                            <span class="right tooltips" data-original-title="" data-tooltip1="" data-tooltip2="InvTable.LastI">9/11/17</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="11" data-config="last_payment">
                        <a class="nav-link ">
                            <span class="title">Last Payment:</span>
                            <span class="right tooltips" data-original-title="" data-tooltip1="" data-tooltip2="PmtTable.LastP">9/12/17</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="12" data-config="bill_cycle">
                        <a class="nav-link ">
                            <span class="title">Bill Cycle:</span>
                            <span class="right tooltips" data-original-title="" data-tooltip1="" data-tooltip2="BillTable.BillC">7</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="13" data-config="next_cycle">
                        <a class="nav-link ">
                            <span class="title">Next Cycle:</span>
                            <span class="right tooltips" data-original-title="" data-tooltip1="" data-tooltip2="BillTable.NextC">9/18/17</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="14" data-config="meter_type">
                        <a class="nav-link ">
                            <span class="title">Meter Type:</span>
                            <span class="right tooltips" data-original-title="" data-tooltip1="" data-tooltip2="MtrTable.MType">AMI</span>
                        </a>
                    </li>

                    <div data-toggle="modal" href=".info-modal"> <i class="fa fa-cog"></i> </div>
                </ul>

                <div class="modal fade draggable-modal ui-draggable info-modal" id="draggable" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header ui-draggable-handle">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Info Selector</h4>
                      </div>
                      <div class="modal-body">
                        <ul>
                          <li>
                            <label class="mt-checkbox">
                              <input type="checkbox" value="checked" name="account"> Account(s)
                              <span></span>
                            </label>
                          </li>
                          <li>
                            <label class="mt-checkbox">
                              <input type="checkbox" value="checked" name="bill_cycle"> Bill Cycle
                              <span></span>
                            </label>
                          </li>
                          <li>
                            <label class="mt-checkbox">
                              <input type="checkbox" value="checked" name="budget_billing"> Budget Billing
                              <span></span>
                            </label>
                          </li>
                          <li>
                            <label class="mt-checkbox">
                              <input type="checkbox" value="checked" name="credit_ranking"> Credit Ranking
                              <span></span>
                            </label>
                          </li>
                          <li>
                            <label class="mt-checkbox">
                              <input type="checkbox" value="checked" name="first_name"> First Name
                              <span></span>
                            </label>
                          </li>
                          <li>
                            <label class="mt-checkbox">
                              <input type="checkbox" value="checked" name="last_invoice"> Last Invoice
                              <span></span>
                            </label>
                          </li>
                          <li>
                            <label class="mt-checkbox">
                              <input type="checkbox" value="checked" name="last_payment"> Last Payment
                              <span></span>
                            </label>
                          </li>
                          <li>
                            <label class="mt-checkbox">
                              <input type="checkbox" value="checked" name="last_name"> Last Name
                              <span></span>
                            </label>
                          </li>
                          <li>
                            <label class="mt-checkbox">
                              <input type="checkbox" value="checked" name="meter_type"> Meter Type
                              <span></span>
                            </label>
                          </li>
                          <li>
                            <label class="mt-checkbox">
                              <input type="checkbox" value="checked" name="next_cycle"> Next Cycle
                              <span></span>
                            </label>
                          </li>
                          <li>
                            <label class="mt-checkbox">
                              <input type="checkbox" value="checked" name="outage_notif"> Outage Notif
                              <span></span>
                            </label>
                          </li>
                          <li>
                            <label class="mt-checkbox">
                              <input type="checkbox" value="checked" name="pap"> PAP
                              <span></span>
                            </label>
                          </li>
                          <li>
                            <label class="mt-checkbox">
                              <input type="checkbox" value="checked" name="paperless"> Paperless
                              <span></span>
                            </label>
                          </li>
                          <li>
                            <label class="mt-checkbox">
                              <input type="checkbox" value="checked" name="service"> Service(s)
                              <span></span>
                            </label>
                          </li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn green save_button">Save</button>
                      </div>
                    </div>
                  </div>
                </div>
            </li>

            <li class="xray-view">
                <label class="mt-checkbox">
                    <input type="checkbox" name="xray" value="checked"> X-Ray View
                    <span></span>
                </label>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->