<!-- <!DOCTYPE html> -->
<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="user-view">
                <span class="title">User View</span>
                <select class="form-control">
                    <option>CSR1</option>
                    <option>CSR2</option>
                    <option>FINS</option>
                    <option>MGR</option>
                    <option>Custom1</option>
                </select>
                <i class="fa fa-cog"></i>
            </li>

            <li class="nav-item info">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <i class="fa fa-info-circle"></i>
                    <span class="title">Info</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu sortable">
                    <li class="nav-item" data-pos="2" data-config="first_name">
                        <a class="nav-link">
                            <span class="title tooltips" data-original-title="" data-tooltip="AccTable.FName">First Name:</span>
                            <span class="right">John</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="1" data-config="last_name">
                        <a class="nav-link">
                             <span class="title tooltips" data-original-title="" data-tooltip="AccTable.LName">Last Name:</span>
                            <span class="right">Doe</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="3" data-config="credit_ranking">
                        <a class="nav-link">
                             <span class="title tooltips" data-original-title="" data-tooltip="AccStat.CredR">Credit Ranking:</span>
                            <span class="right modal-toggler" data-toggle="modal" href="#credit-rank-modal">10</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="4" data-config="budget_billing">
                        <a class="nav-link">
                             <span class="title tooltips" data-original-title="" data-tooltip="BBTable.BBStat">Budget Billing:</span>
                            <span class="right tooltips" data-original-title="$38.00">Yes</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="5" data-config="pap">
                        <a class="nav-link">
                             <span class="title tooltips" data-original-title="" data-tooltip="PAPTable.PAPAmt">PAP:</span>
                            <span class="right tooltips" data-original-title="$38.00">Yes</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="6" data-config="paperless">
                        <a class="nav-link">
                             <span class="title tooltips" data-original-title="" data-tooltip="NotifTable.PapT">Paperless:</span>
                            <span class="right">jdoe@mail.net</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="7" data-config="service_pwr">
                        <a class="nav-link">
                             <span class="title tooltips" data-original-title="" data-tooltip="SrvcTable.PWR">Service Power:</span>
                            <span class="right tooltips" data-original-title="Meter @ABC">PWR</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="8" data-config="service_wtr">
                        <a class="nav-link">
                             <span class="title tooltips" data-original-title="" data-tooltip="SrvcTable.WTR">Service Water:</span>
                            <span class="right tooltips" data-original-title="Meter #123">WTR</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="9" data-config="outage_notif">
                        <a class="nav-link">
                             <span class="title tooltips" data-original-title="" data-tooltip="OutTable.Notif">Outage Notif:</span>
                            <span class="right">No</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="10" data-config="account">
                        <a class="nav-link">
                             <span class="title tooltips" data-original-title="" data-tooltip="AccTable.AccNb">Account(s):</span>
                            <span class="right">A1234Z</span>
                        </a>
                    </li>
                    <li class="nav-item last_invoice" data-pos="11" data-config="last_invoice">
                        <a class="nav-link" href="/last_invoice">
                             <span class="title tooltips" data-original-title="" data-tooltip="InvTable.LastI">Last Invoice:</span>
                            <span class="right">9/11/17</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="12" data-config="last_payment">
                        <a class="nav-link">
                             <span class="title tooltips" data-original-title="" data-tooltip="PmtTable.LastP">Last Payment:</span>
                            <span class="right">9/12/17</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="13" data-config="bill_cycle">
                        <a class="nav-link">
                             <span class="title tooltips" data-original-title="" data-tooltip="BillTable.BillC">Bill Cycle:</span>
                            <span class="right">7</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="14" data-config="next_cycle">
                        <a class="nav-link">
                             <span class="title tooltips" data-original-title="" data-tooltip="BillTable.NextC">Next Cycle:</span>
                            <span class="right">9/18/17</span>
                        </a>
                    </li>
                    <li class="nav-item" data-pos="15" data-config="meter_type">
                        <a class="nav-link">
                             <span class="title tooltips" data-original-title="" data-tooltip="MtrTable.MType">Meter Type:</span>
                            <span class="right">AMI</span>
                        </a>
                    </li>

                    <div data-toggle="modal" href="#info-modal"> <i class="fa fa-cog"></i> </div>
                </ul>

                <%- include('info-modal') -%>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->