<!-- <!DOCTYPE html> -->
<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <li class="user-view">
                <span class="title">User View</span>
                <select class="form-control">
                    <option>CSR1</option>
                    <option>CSR2</option>
                    <option>FINS</option>
                    <option>MGR</option>
                    <option>Custom1</option>
                </select>
            </li>

            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">
                    <span class="title">Info</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="elements_steps.html" class="nav-link ">
                            <span class="title">First name</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="elements_lists.html" class="nav-link ">
                            <span class="title">Last Name</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="elements_ribbons.html" class="nav-link ">
                            <span class="title">Credit Ranking</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="elements_overlay.html" class="nav-link ">
                            <span class="title">Budget Billing</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="elements_cards.html" class="nav-link ">
                            <span class="title">PAP</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="elements_cards.html" class="nav-link ">
                            <span class="title">Paperless</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="elements_cards.html" class="nav-link ">
                            <span class="title">Service</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="elements_cards.html" class="nav-link ">
                            <span class="title">Outage Notif</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="elements_cards.html" class="nav-link ">
                            <span class="title">Account(s)</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="elements_cards.html" class="nav-link ">
                            <span class="title">Last Invoice</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="elements_cards.html" class="nav-link ">
                            <span class="title">Last Payment</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="elements_cards.html" class="nav-link ">
                            <span class="title">Bill Cycle</span>
                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="elements_cards.html" class="nav-link ">
                            <span class="title">Next Cycle</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->